[submodule "tingle/tingle-style"]
	path = tingle/tingle-style
	url = https://github.com/tinglejs/tingle-style.git
[submodule "tingle/tingle-group-list"]
	path = tingle/tingle-group-list
	url = https://github.com/tinglejs/tingle-group-list.git
