/**
 * Field Component Style for tingle
 * @author gnosaij
 *
 * Copyright 2014-2015, Tingle Team, Alinw.
 * All rights reserved.
 */
@require '../node_modules/tingle-style/src/var'

body
    background-color #F2F2F2