.tInput
    padding 0
    border none
    outline none
    width 100%
    line-height 20px 
.isAndroid .tInput
    position relative
    top -1px
.isAndroid.isNotChrome .tInput
    position relative
    top 1px
.tTextField
    min-height 44px
.tFieldLabel
    line-height 20px 
