.tInput
    border none
    outline none
    width 100%
.isAndroid .tInput
    position relative
    top -1px
.isAndroid.isNotChrome .tInput
    position relative
    top 1px
.tTextField
    min-height 44px 
